*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 60vh;
	background-color: lightblue;
}

.main-body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#score{
	text-align: center;
}
input[type=date] {
  font-size: 20px;
    width: 232px;
    height: 57px;
}

/* Style the form inputs and button */
input[type=time]{
  font-size: 20px;
    width: 200px;
    height: 57px;
}

/* Style the result text */
#result {
  font-size: 20px;
  font-weight: bold;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

#appt,
label {
    margin: 0.4rem 0;
}

#newDate,#start , #end{
	width: 500px;
}
.calculate{
	border: none;
	border-radius: 20px;
	font-weight: 300px;
	font-size: 40px;
	margin: 10px;
	padding: 10px;

}
#btnDate{
	background-color: lightgreen;
	border-radius: 10px;
	cursor: pointer;
	border: 2px solid green;
	margin-top: 40px;
	font-size: 4rem;
	width: 300px;
}
img{
	margin: -20px;
}
h1{
	margin-top: 150px;
	font-size: 5rem;
	margin-bottom: 10px;
}
h2{
	width: 80%;
	text-align: center;
	font-size: 3.5rem;
}
h3{
	margin-bottom: 20px;
	font-size: 4.5rem;
	font-weight: 500px;
}
ul li{
	list-style: none;

}
#list{
	font-size: 2rem;
	width: 100%;
	text-align: center;
}
.container{
	width: 800px;
	height: 400px;
	border-radius: 20px;
	background-color: #BEF8BF;
	display: flex;
	vertical-align: center;
	flex-direction: column;
	justify-content: center;
	
}
#start{
	margin: 50px 20px;
	width:250px; 
	height: 100px;

	border: 2px solid blue;
	border-radius: 20px;
	font-size: 4rem; 
	}
input, .operator{
	border-style: dashed;
	width: 150px;
	height: 130px;
	text-align: center;
	font-size: 4.5rem;
	margin: 20px 4px;
	border-radius: 15px;
}
#Id{
	width: 350px;
	height: 85px;
	border: 2px solid lime;
}
#equal{
	font-size: 4rem;
	color: black;
}
.btn_sum{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;	
	
}
.result{
	display: flex;
	justify-content: center;
	
}
#time{
	flex: 1;
	border-radius: 30px;
	font-size: 2.5rem
}
#player{
	flex: 1.5;
	border-radius: 30px;
	font-size: 3rem;
	font-weight: 750px;
}
#s{
	flex: 1;
	border-radius: 30px;
	font-size: 2.5rem
}
p{
	margin: 5px 10px;
	width: 400px;
	height: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2.5rem;
}
.btns{
	margin-top: 85px;
}
.btns button{
	width: 190px;
	height: 80px;
	font-size: 2rem;
	margin: 5px 15px;
	padding: 5px;
	border-radius: 15px;
}
#fetch{
	box-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size: 3rem;
	width: 230px;
	height: 110px;
}
#btn1{
	background-color: rgb(103 142 160);

}
#btn2{
	background-color: #90c7ee;
}
#btn3{
	background-color: rgb(155 193 110);
}
#btn4{
	background-color: rgb(206 137 137);
}

